apiVersion: v1
kind: Service
metadata:
  name: ntp-rootless
  namespace: ntp
spec:
  externalTrafficPolicy: Local
  internalTrafficPolicy: Cluster
  ports:
    - name: ntp
      port: 123
      targetPort: ntp
      protocol: UDP
  selector:
    app: ntp-rootless
  type: LoadBalancer # ClusterIP
  loadBalancerClass: ""
---
apiVersion: v1
kind: Service
metadata:
  name: ntp-rootless-metrics
  namespace: ntp
  labels:
    app: ntp-rootless
spec:
  ports:
    - name: metrics
      port: 9433
      targetPort: metrics
      protocol: TCP
  selector:
    app: ntp-rootless
  type: ClusterIP
